./settings_fragments/
*.sqlite*
.*.sw*
*~
*.pyc
env/
logs/
node_modules/
.idea/
staticfiles/
mediafiles/
*.sass-cache
.DS_Store
AppleDouble
*.map


# gulp output files
breakdown/static/css/screen.css
breakdown/static/css/*.min.css
breakdown/static/js/*.min.js
