{% extends "base.html" %}


{% block title %}My Profile - We Love Movies{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
        <fieldset class="form-group row {%if form.username.errors%}has-danger{%endif%}">
            <label for="id_username" class="col-xs-3 form-control-label {%if form.username.errors%}has-danger{%endif%}">Username </label>
            <div class="col-xs-5">
                {%if form.username.errors%}
                <small class="has-danger">
                    {{form.username.errors[0]}}
                </small>
                {%endif%}
                <input type="text" class="form-control" id="id_username" name="username" value="{{form.username.value()}}">
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="id_email" class="col-xs-3 form-control-label">E-mail</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="id_email" name="email" value="{{form.email.value()}}" placeholder="E-mail address">
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="id_timezone" class="col-xs-3 form-control-label">Timezone</label>
            <div class="col-xs-5">
                {{form.timezone}}
            </div>
        </fieldset>
        <div class="row">
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <fieldset class="form-group row">
            <label for="" class="col-xs-3 form-control-label">Twitter</label>
            <div class="col-xs-5">
                {%if request.user.social_account('twitter')%}
                    <code>
                        {{ request.user.social_account('twitter').extra_data.screen_name}}
                    </code>
                {%else %}
                <a href="{{ social_provider('twitter').get_login_url(request, process='connect') }}">
                    <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"/>
                </a>
                {%endif%}
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="" class="col-xs-3 form-control-label">Avatar</label>
            <div class="col-xs-5">
                <img class="img-circle" src="{{ request.user.avatar_url }}" width="48">
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="id_twitter_prefix" class="col-xs-3 form-control-label">Tweet Format</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="id_twitter_prefix" name="twitter_prefix" value="{{form.twitter_prefix.value()}}" placeholder="E-mail address">
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="id_twitter_hashtags" name="twitter_hashtags" value="{{form.twitter_hashtags.value()}}" placeholder="E-mail address">
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}
