{%extends "base.html"%}

{%block content%}

<div class="container">
    <h1>{{user}} Loves Movies</h1>
</div>

<div class="container">
<div class="col-sm-11">

    <div class="container">
        <div class="row card-stats">
            <div class="col-md-3">
                <div class="card card-block">
                    <h1>{{user.watched_count}}</h1>
                    <h6 class="text-muted">Movies<br>Watched</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-block">
                    <h1>{{challenge.how_many_movies - user.watched_count}}</h1>
                    <h6 class="text-muted">Movies<br>Left</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-block">
                    <h1>{{challenge.days_left}}</h1>
                    <h6 class="text-muted">Days<br>Left</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-block">
                    <h1>~{{"{:0.0f}".format(user.velocity*7)}}</h1>
                    <h6 class="text-muted">Watching<br>Per Week</h6>
                </div>
            </div>
        </div>
    </div>


    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Recently Watched
                    <a href="{{reverse('public_profile_movies', kwargs={'username': user.username})}}">All</a>
                </h2>
                {% for viewing in user.recently_watched[:3] %}
                    {{viewing_row(viewing)}}
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <h2>Favorites</h2>
                {% for viewing in user.recently_loved[:3] %}
                {{viewing_row(viewing)}}
                {% endfor %}
            </div>
        </div>

    </div>

    <hr>

    <div class="container">
        <div class="row card-stats">

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-block">
                        <h1>{{user.favorite_director[0]}}</h1>
                        <h6 class="text-muted">Favorite Director</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for dir in user.favorite_directors()[:3] %}
                        <li class="list-group-item">{{dir[0]}} <span class="pull-xs-right">{{dir[1]}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-block">
                        <h1>{{user.favorite_genre[0]}}</h1>
                        <h6 class="text-muted">Favorite Genre</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for g in user.favorite_genres()[:3] %}
                        <li class="list-group-item">{{g[0]}} <span class="pull-xs-right">{{g[1]}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-block">
                        <h1>{{user.favorite_decade[0]}}s</h1>
                        <h6 class="text-muted">Favorite Decade</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for d in user.favorite_decades()[:3] %}
                        <li class="list-group-item">{{d[0]}}s <span class="pull-xs-right">{{d[1]}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="col-sm-1">
    <div id="graph-container">
    </div>
</div>
</div>
{%endblock%}


{% block extrascripts %}
<script src="{{ static('js/d3.v3.min.js') }}"></script>
<script src="{{ static('js/cal-heatmap.min.js') }}"></script>
<script>
    var cal = new CalHeatMap();
    cal.init({
        data: '/v1/user/{{user.username}}/graph',
        itemSelector: '#graph-container',
        itemName: ['movie', 'movies'],
        weekStartOnMonday: false,
        start: new Date(2016,0,1),
        verticalOrientation: true,
        domain: "month",
        subDomain: "x_day",
        domainDynamicDimension: false,
        cellSize: 10,
        range: 12,
        legend: [1,2,3,4],
        displayLegend: false,
        label: {
            position: "right",
            offset: {
                x: 5,
                y: 25
            }
        },
    });
</script>
{% endblock %}


{% macro viewing_row(viewing) %}
                <div class="row viewing">
                    <div class="col-xs-2 cover">
                        <a href="{{ reverse('movie_detail', kwargs={'movieID': viewing.movie.imdb_id}) }}">
                            <img class="img-rounded" src="{{ viewing.movie.cached_cover_url }}" >
                        </a>
                        <div class="imdb-link">
                            <a href="http://imdb.com/title/tt{{viewing.movie.imdb_id}}" target="_blank" class="card-link">IMDb</a>
                        </div>
                    </div>
                    <div class="col-xs-10 description">
                        <h4>
                            <a href="{{ reverse('movie_detail', kwargs={'movieID': viewing.movie.imdb_id}) }}"><span class="movie-title">{{viewing.movie.title}}</span>{%if viewing.movie.year%} (<span class="movie-year">{{viewing.movie.year}}</span>){%endif%}</a>
                        </h4>
                        <h6 class="text-muted">

                            {%if viewing.movie.runtime %}
                            <span class="movie-runtime">
                            {{ viewing.movie.get_runtime_display() }}
                            </span>
                            {%endif%}

                            {%if viewing.movie.genres%}
                            {%if viewing.movie.runtime%}<strong>&nbsp;|&nbsp;</strong>{%endif%}
                            <span class="movie-genres">{{", ".join(viewing.movie.genres)}}</span>
                            {%endif%}
                        </h6>
                        <h5>{{viewing.get_rating_display()}} on {{viewing.viewed_on.strftime("%b %d, %Y")}}<span class="movie-date display-none">{{viewing.viewed_on}}</span>
                            {%if viewing.how_watched%}<span class="how-watched">{{viewing.how_watched}}</span>{%endif%}
                        </h5>
                    </div>
                </div>

{% endmacro%}