{%extends "base.html"%}


{% block title %}Watched Movies - {{user.username}} - We Love Movies{% endblock %}

{%block content%}
<div class="container">
    <h1>{{user}} Loves Movies</h1>
</div>

<div class="container hidden-sm-down">
    <div class="row card-stats">
        <div class="col-md-3">
            <div class="card card-block">
                <h1>{{"{:2.0f}%".format((loved_count / movie_count*1.0)*100)}}</h1>
                <h6 class="text-muted">Movies<br>Loved ({{loved_count}})</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <h1>{{"{:2.0f}%".format((liked_count / movie_count*1.0)*100)}}</h1>
                <h6 class="text-muted">Movies<br>Liked ({{liked_count}})</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <h1>{{"{:2.0f}%".format((hated_count / movie_count*1.0)*100)}}</h1>
                <h6 class="text-muted">Movies<br>Hated ({{hated_count}})</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <h1>{{"{:2.0f}%".format((hateliked_count / movie_count*1.0)*100)}}</h1>
                <h6 class="text-muted">Movies<br>Hate for Liking ({{hateliked_count}})</h6>
            </div>
        </div>
    </div>
</div>

<div class="container movie-list">

    <table class="table table-hover ">
        <thead>
            <tr>
                <th></th>
                <th>Movie</th>
                <th class="hidden-xs-down">Rating</th>
                <th class="hidden-sm-down">Viewed</th>
            </tr>
        </thead>
        <tbody>
        {%for viewing in movies%}
        <tr>
            <th scope="row">
                #{{movie_count - loop.index0}}
            </th>
            <td>
                <div class="pull-xs-left cover">
                    <img class="img-rounded" src="{{viewing.movie.cached_cover_url}}"/>
                </div>
                <h5><a href="{{reverse('movie_detail', kwargs={'movieID':viewing.movie.imdb_id})}}">{{viewing.movie.title}} ({{viewing.movie.year}})</a></h5>
                <p>{{viewing.summary}}</p>
            </td>
            <td class="hidden-xs-down rating-column">{{viewing.visible_rating}}</td>
            <td class="hidden-sm-down">{{viewing.viewed_on.strftime('%b %-d')}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>

</div>
{%endblock%}