{%extends "base.html"%}


{% block title %}Watched Movies - We Love Movies{% endblock %}

{%block content%}
<div class="container">
    <h1>We Love Movies</h1>
</div>

<div class="container movie-list">

    <table class="table table-hover ">
        <thead>
            <tr>
                <th></th>
                <th>Who</th>
                <th>Movie</th>
                <th class="hidden-xs-down">Rating</th>
                <th class="hidden-sm-down">Viewed</th>
            </tr>
        </thead>
        <tbody>
        {%for viewing in viewings%}
        <tr>
            <th scope="row">
                #{{movie_count - loop.index0}}
            </th>
            <td class="avatar">
                <a href="{{reverse('public_profile', kwargs={'username': viewing.viewer.username})}}">
                <img class="img-circle" width="32" src="{{viewing.viewer.avatar_url}}">
                <p>{{viewing.viewer}}</p>
                </a>
            </td>
            <td>
                <div class="pull-xs-left cover">
                    <img class="img-rounded" src="{{viewing.movie.cached_cover_url}}"/>
                </div>
                <h5><a href="{{reverse('movie_detail', kwargs={'movieID':viewing.movie.imdb_id})}}">{{viewing.movie.title}} ({{viewing.movie.year}})</a></h5>
                <p>{{viewing.summary}}</p>
            </td>
            <td class="hidden-xs-down rating-column">{{viewing.visible_rating}}</td>
            <td class="hidden-sm-down">{{viewing.viewed_on.strftime('%b %-d')}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>

</div>
{%endblock%}