{% extends "base.html" %}


{% set active_tab = "movies" %}

{% block content %}

<div class="container hidden-sm-down">
    <div class="row card-stats">
        <div class="col-md-3">
            <div class="card card-block">
                <h1>{{challenge.how_many_movies - request.user.watched_count}}</h1>
                <h6 class="text-muted">Movies<br>Left</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <h1>{{challenge.days_left}}</h1>
                <h6 class="text-muted">Days<br>Left</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <h1>~{{"{:0.0f}".format(request.user.velocity*7)}}</h1>
                <h6 class="text-muted">Watching<br>Per Week</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <h1>~{{"{:0.0f}".format(((challenge.how_many_movies - request.user.watched_count) / challenge.days_left)*7)}}</h1>
                <h6 class="text-muted">Must Watch<br>Per Week</h6>
            </div>
        </div>
    </div>
</div>


<div id="viewing-list" class="container">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="search form-control" placeholder="Search movies"/>
            </div>
            <div class="btn-group sort">
                <button type="button" data-sort="movie-title" class="btn btn-secondary">Title</button>
                <button type="button" data-sort="movie-year" class="btn btn-secondary">Year</button>
                <button type="button" data-sort="movie-date" class="btn btn-primary">Date</button>
                <button type="button" data-sort="movie-runtime" class="btn btn-secondary">Runtime</button>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-sm-6" id="unwatched-list">
            <h2>Saved <span>({{unwatched|length}})</span></h2>
            <div class="list">
            {% for viewing in unwatched %}
                {{ viewing_row(viewing) }}
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-6" id="watched-list">
            <h2>Watched <span>({{watched|length}})</span></h2>
            <div class="list">
            {% for viewing in watched %}
                {{ viewing_row(viewing) }}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% macro viewing_row(viewing) %}

<div class="row viewing">
    <div class="col-xs-2 cover">
            <a href="{{ reverse('movie_detail', kwargs={'movieID': viewing.movie.imdb_id}) }}">
                <img class="img-rounded" src="{{ viewing.movie.cached_cover_url }}" >
            </a>
            <div class="imdb-link">
            <a href="http://imdb.com/title/tt{{viewing.movie.imdb_id}}" target="_blank" class="card-link">IMDb</a>
            </div>
    </div>
    <div class="col-xs-10 description">
        <h4>
            <a href="{{ reverse('movie_detail', kwargs={'movieID': viewing.movie.imdb_id}) }}"><span class="movie-title">{{viewing.movie.title}}</span>{%if viewing.movie.year%} (<span class="movie-year">{{viewing.movie.year}}</span>){%endif%}</a>

        </h4>
        {%if viewing.status == 'unwatched' and viewing.scheduled_for %}
        <h5>Scheduled for {{viewing.scheduled_for.strftime("%b %d, %Y")}} <span class="movie-date display-none">{{viewing.scheduled_for}}</span></h5>
        {%endif%}
        {%if (viewing.status == 'watched' or viewing.status == 'rewatched') %}
        <h5>{{viewing.get_rating_display()}} on {{viewing.viewed_on.strftime("%b %d, %Y")}}<span class="movie-date display-none">{{viewing.viewed_on}}</span>
            {%if viewing.how_watched%}<span class="how-watched">{{viewing.how_watched}}</span>{%endif%}
        </h5>
        {%endif%}

        <h6 class="text-muted">

            {%if viewing.movie.runtime %}
            <span class="movie-runtime">
            {{ viewing.movie.get_runtime_display() }}
            </span>
            {%endif%}

            {%if viewing.movie.genres%}
            {%if viewing.movie.runtime%}<strong>&nbsp;|&nbsp;</strong>{%endif%}
            <span class="movie-genres">
            {{", ".join(viewing.movie.genres)}}
            </span>
            {%endif%}
        </h6>
    </div>
</div>
{% endmacro %}

{% block extrascripts %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {

    var listOptions = {
        valueNames: ['movie-title', 'movie-year', 'movie-date', 'movie-genres', 'movie-runtime'],
    };
    var watchedList = new List('watched-list', listOptions);
    var unwatchedList = new List('unwatched-list', listOptions);


    var searchInput = $('#viewing-list input.search');
    var updateSearch = function(e) {
        var val = searchInput.val();
        watchedList.search(val);
        unwatchedList.search(val);
    }
    searchInput.on('change', updateSearch);
    searchInput.on('keyup', updateSearch);

    var curSort = {current:'movie-date', order: 'desc'};
    watchedList.sort(curSort.current, {'order': curSort.order});
    unwatchedList.sort(curSort.current, {'order': curSort.order});

    var sortGroup = $('#viewing-list .sort');
    sortGroup.find('button').on('click', function(e) {
        var old = sortGroup.find('button.btn-primary');
        old.removeClass('btn-primary').addClass('btn-secondary');

        var self = $(e.target);
        var sort = self.data('sort');
        var order = 'asc';

        if (curSort.current == sort) {
            curSort.order = curSort.order == 'asc' ? 'desc' : 'asc';
        } else {
            curSort = {current: sort, order: 'asc'};
        }

        watchedList.sort(curSort.current, {'order': curSort.order});
        unwatchedList.sort(curSort.current, {'order': curSort.order});

        self.addClass('btn-primary').removeClass('btn-secondary');
    });



});
</script>
{% endblock %}