{% extends "base.html" %}


{% set active_tab = "movies" %}

{% block content %}

<div class="container hidden-sm-down">
    <div class="row card-stats">
        <div class="col-md-2">
            <div class="card card-block">
                <h1>{{request.user.watched_count}}</h1>
                <h6 class="text-muted">Watched</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card card-block">
                <h1>{{challenge.how_many_movies - request.user.watched_count}}</h1>
                <h6 class="text-muted">Left</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card card-block">
                <h1>{{request.user.unwatched_count}}</h1>
                <h6 class="text-muted">Saved</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card card-block">
                <h1>{{(challenge.how_many_movies - request.user.watched_count) - request.user.unwatched_count}}</h1>
                <h6 class="text-muted">Needed</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card card-block">
                <h1>{{challenge.days_left}}</h1>
                <h6 class="text-muted">Days</h6>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card card-block">
                <h1>~{{"{:0.0f}".format(((challenge.how_many_movies - request.user.watched_count) / challenge.days_left)*7)}}</h1>
                <h6 class="text-muted">Weekly</h6>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="col-sm-6">
        <h2>Saved</h2>
        {% for viewing in unwatched %}
            {{ viewing_row(viewing) }}
        {% endfor %}
        </div>
    <div class="col-sm-6">
        <h2>Watched</h2>
        {% for viewing in watched %}
        {{ viewing_row(viewing) }}
        {% endfor %}
    </div>
</div>

{% endblock %}


{% macro viewing_row(viewing) %}

<div class="row viewing">
    <div class="col-xs-2 cover">
            <a href="{{ reverse('movie_detail', kwargs={'movieID': viewing.movie.imdb_id}) }}">
                <img class="img-rounded" src="{{ viewing.movie.cached_cover_url }}" >
            </a>
            <div class="imdb-link">
            <a href="http://imdb.com/title/tt{{viewing.movie.imdb_id}}" target="_blank" class="card-link">IMDb</a>
            </div>
    </div>
    <div class="col-xs-10 description">
        <h4>
            <a href="{{ reverse('movie_detail', kwargs={'movieID': viewing.movie.imdb_id}) }}">{{viewing.movie}}{%if viewing.year%} ({{viewing.year}}){%endif%}</a>
        </h4>
        {%if viewing.status == 'unwatched' and viewing.scheduled_for %}
        <h5>Scheduled for {{viewing.scheduled_for.strftime("%b %d, %Y")}}</h5>
        {%endif%}
        {%if (viewing.status == 'watched' or viewing.status == 'rewatched') %}
        <h5>{{viewing.get_rating_display()}} on {{viewing.viewed_on.strftime("%b %d, %Y")}}
            {%if viewing.how_watched%}<span class="how-watched">{{viewing.how_watched}}</span>{%endif%}
        </h5>
        {%endif%}

        <h6 class="text-muted">

            {%if viewing.movie.runtime %}
            <span>
            {{ viewing.movie.get_runtime_display() }}
            </span>
            {%endif%}

            {%if viewing.movie.genres%}
            {%if viewing.movie.runtime%}<strong>&nbsp;|&nbsp;</strong>{%endif%}
            <span>
            {{", ".join(viewing.movie.genres)}}
            </span>
            {%endif%}
        </h6>
    </div>
</div>
{% endmacro %}