{% extends "base.html" %}


{%block content%}
<div class="container movie-detail-container">

    <div class="row">
        <div class="col-sm-3">
            <img src="{{movie.cached_large_cover_url}}" width="197">
            <div class="btn-group watch-actions" role="group">
                {% if viewing %}
                <a class="btn btn-secondary" href="#">Saved</a>
                {% else %}
                <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#viewing-form" aria-expanded="false" aria-controls="viewing-form">
                    Will watch it
                </button>
                {% endif %}
                <a class="btn btn-secondary" href="#">
                    Saw it
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>{{movie.title}}{%if movie.year%} ({{movie.year}}){%endif%}</h2>
            {%if movie.genres%}
            <h6 class="text-muted">{{", ".join(movie.genres)}}</h6>
            {%endif%}

            <p class="plot-outline">{{movie.imdb_plot_outline}}</p>
        </div>
    </div>

    <div class="row collapse" id="viewing-form">
        <div class="col-sm-4">

            <div class="card card-block">
                <form method="POST" action="{{ reverse('movie_schedule', kwargs={'movieID': movie.imdb_id}) }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
                    <fieldset class="form-group">
                        <label for="id_scheduled_for">When will you watch it?</label>
                        <input type="text" id="id_scheduled_for" name="scheduled_for" placeholder="When I get to it">
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    </div>

</div>

<div class="container">
    {%for viewing in movie.cached_viewings()%}
    <div class="row">
        {%if viewing.status == 'unwatched'%}
        <p>{%if viewing.viewer == request.user%}You want{%else%}{{viewing.viewer}} wants{%endif%} to watch this{%if viewing.scheduled_for%} on {{viewing.scheduled_for.strftime("%b %d, %Y")}}{%endif%}.</p>
        {%elif viewing.status == 'watched' or viewing.status == 'rewatched'%}
        <p>{%if viewing.viewer == request.user%}You want{%else%}{{viewing.viewer}} wants{%endif%} {%if viewing.status == 'rewatched'%}re-{%endif%}watched this{%if viewing.viewed_on%} on {{viewing.viewed_on.strftime("%b %d, %Y")}}{%endif%}.</p>
        {%else%}
        <p>{{viewing}}</p>
        {%endif%}
    </div>
    {%endfor%}
</div>
{%endblock%}

{%block extrascripts%}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    var picker = new Pikaday({
        field: document.getElementById('id_scheduled_for'),
        format: 'MMM D, YYYY',
    });
});
</script>
{%endblock%}
