{% extends "base.html" %}


{% set active_tab = "movies" %}

{%block content%}
<div class="container movie-detail-container">

    <div class="row">
        <div class="col-sm-3 cover-image">
            <img class="full-cover img-rounded" src="{{ movie.cached_large_cover_url }}">
        </div>
        <div class="col-sm-9">
            <h2>{{movie.title}}{%if movie.year%} ({{movie.year}}){%endif%}
                <span class="imdb-link">
                <a href="http://imdb.com/title/tt{{movie.imdb_id}}" target="_blank">IMDb</a>
                </span>
            </h2>

            <h6 class="text-muted">
                {%if movie.runtime %}
                <span>
                {{ movie.get_runtime_display() }}
                </span>
                {%endif%}

                {%if movie.genres%}
                {%if movie.runtime%}<strong>&nbsp;|&nbsp;</strong>{%endif%}
                <span>
                {{", ".join(movie.genres)}}
                </span>
                {%endif%}
            </h6>


            {%if movie.directors%}
            <h6 class="text-muted"><strong>Directed by:</strong> {{", ".join(movie.directors)}}</h6>
            {%endif%}

            <p class="plot-outline">{{movie.imdb_plot_outline}}</p>

            <ul>
                {% for cast in movie.cached_cast()[:5] %}
                <li><span class="actor">{{cast.person}}</span> as <span class="role">{{cast.role}}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<div class="container scheduling">

    {%if not viewing or not viewing.viewed_on%}

        <div class="row">
            <a class="btn btn-secondary" data-toggle="collapse" href="#schedule-viewing-form" aria-expanded="false" aria-controls="schedule-viewing-form">
                {%if viewing and viewing.scheduled_for%}
                Scheduled for {{viewing.scheduled_for.strftime("%b %d")}}
                {%elif viewing%}
                Saved
                {%else%}
                Add to Schedule
                {%endif%}
            </a>
            <!-- schedule form -->
            <div class="row collapse" id="schedule-viewing-form">

                <div class="col-sm-4">
                    <div class="card card-block">
                        <form method="POST" action="{{ reverse('movie_schedule', kwargs={'movieID': movie.imdb_id}) }}">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
                            <fieldset class="form-group">
                                <label for="id_scheduled_for">When will you watch it?</label>
                                <input type="text" class="form-control datepicker" id="id_scheduled_for" name="scheduled_for" placeholder="When I get to it" value="{{ viewing.scheduled_for.strftime('%b %d, %Y') if viewing.scheduled_for else ''}}">
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <a class="btn btn-secondary" href="{{reverse('movie_record', kwargs={'movieID': movie.imdb_id})}}">
                I watched this
            </a>
        </div>

{%else%}
    <div class="row">
        <p>Watched on {{viewing.viewed_on.strftime("%b %d, %Y")}}.<br>
        {{viewing.get_rating_display()}}.
        </p>
    </div>
{%endif%}

</div>


<h3 style="margin-top:2rem;">Viewings</h3>
<div class="container">
    {%for viewing in movie.cached_viewings()%}
        {%if viewing.status == 'unwatched'%}
        <div class="row">
            <div class="col-xs-2">
                <img class="img-circle pull-xs-right" width="32" src="{{viewing.viewer.avatar_url}}"/>
            </div>
            <div class="col-xs-10">
                {%if viewing.viewer == request.user%}
                You want
                {%else%}
                <a href="{{viewing.viewer.get_absolute_url()}}">{{viewing.viewer}}</a> wants
                {%endif%}
                to watch this.
            </div>
        </div>
        {%elif viewing.status == 'watched' or viewing.status == 'rewatched'%}
        <div class="row">
            <div class="col-xs-2">
                <img class="img-circle pull-xs-right" width="32" src="{{viewing.viewer.avatar_url}}"/>
            </div>
            <div class="col-xs-10">
                {%if viewing.viewer == request.user%}
                You
                {%else%}<a href="{{viewing.viewer.get_absolute_url()}}">{{viewing.viewer}}</a>
                {%endif%}
                {%if viewing.status == 'rewatched'%}re-{%endif%}watched this{%if viewing.viewed_on%} on {{viewing.viewed_on.strftime("%b %d, %Y")}}{%endif%}{%if viewing.how_watched%} <span class="how-watched">{{viewing.how_watched}}</span>{%endif%}.<br>
                {{ viewing.get_rating_display() }}.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {%if viewing.viewer == request.user%}
                <a class="pull-xs-right" href="{{reverse('movie_record', kwargs={'movieID': viewing.movie.imdb_id})}}">Edit</a>
                {%endif%}
            </div>
            <div class="col-xs-10">
                <blockquote>{{viewing.summary}}</blockquote>
            </div>
        </div>
        {%else%}
        <p>{{viewing}}</p>
        {%endif%}
    </div>
    {%endfor%}
</div>
{%endblock%}

{%block extrascripts%}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    new Pikaday({
        field: document.getElementById('id_scheduled_for'),
        format: 'MMM D, YYYY',
    });
});
</script>
{%endblock%}
