{%extends "base.html"%}


{% set active_tab = "schedule" %}

{%block content %}


<div class="container">



    <div class="row">
        <div class="col-sm-8">
                <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
        <div class="row ">
            <div class="col-xs-3">
                <label class="form-control-label">Mon</label>
                <input type="number" class="form-control" value="{{form.monday.value()}}" name="monday" required>
            </div>
            <div class="col-xs-3">
                <label class="form-control-label">Tue</label>
                <input type="number" class="form-control" value="{{form.tuesday.value()}}" name="tuesday" required>
            </div>
            <div class="col-xs-3">
                <label class="form-control-label">Wed</label>
                <input type="number" class="form-control" value="{{form.wednesday.value()}}" name="wednesday" required>
            </div>
            <div class="col-xs-3">
                <label class="form-control-label">Thu</label>
                <input type="number" class="form-control" value="{{form.thursday.value()}}" name="thursday" required>
            </div>
            <div class="col-xs-3">
                <label class="form-control-label">Fri</label>
                <input type="number" class="form-control" value="{{form.friday.value()}}" name="friday" required>
            </div>
            <div class="col-xs-3">
                <label class="form-control-label">Sat</label>
                <input type="number" class="form-control" value="{{form.saturday.value()}}" name="saturday" required>
            </div>
            <div class="col-xs-3">
                <label class="form-control-label">Sun</label>
                <input type="number" class="form-control" value="{{form.sunday.value()}}" name="sunday" required>
            </div>
            <div class="col-xs-3">
                <p>&nbsp;</p>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

        </div>

        <div class="col-sm-4">
            <table class="table equation">
                <tbody>
                <tr>
                    <td></td>
                    <td class="numeral">{{request.user.watched_count}}</td>
                    <td>watched movies</td>
                </tr>
                <tr>
                    <td class="operator">&plus;</td>
                    <td class="numeral">{{schedule.total_per_week}}</td>
                    <td>scheduled per week</td>
                </tr>
                <tr>
                    <td class="operator">&times;</td>
                    <td class="numeral">{{"{:0.0f}".format(challenge.days_left/7) }}</td>
                    <td>remaining weeks</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="numeral">{{"{:0.0f}".format(request.user.watched_count + (schedule.avg_per_day * challenge.days_left))}}</td>
                    <td>total movies <span class="numeral">({{"{:+0.0f}".format(request.user.watched_count + (schedule.avg_per_day * challenge.days_left - challenge.how_many_movies))}})</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{%endblock%}


