{%extends "base.html"%}


{%block content %}


<div class="container">

    <div class="row">
        <form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
            <div class="col-xs-4">
                <label class="form-control-label">&nbsp;</label>
                    <h2>Weekly Schedule</h2>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Mon</label>
                <input type="number" class="form-control" value="{{form.monday.value()}}" name="monday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Tue</label>
                <input type="number" class="form-control" value="{{form.tuesday.value()}}" name="tuesday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Wed</label>
                <input type="number" class="form-control" value="{{form.wednesday.value()}}" name="wednesday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Thu</label>
                <input type="number" class="form-control" value="{{form.thursday.value()}}" name="thursday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Fri</label>
                <input type="number" class="form-control" value="{{form.friday.value()}}" name="friday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Sat</label>
                <input type="number" class="form-control" value="{{form.saturday.value()}}" name="saturday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">Sun</label>
                <input type="number" class="form-control" value="{{form.sunday.value()}}" name="sunday" required>
            </div>
            <div class="col-xs-1">
                <label class="form-control-label">&nbsp;</label>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

    <div class="row card-stats">
        <div class="col-sm-3">
            <div class="card card-block">
                <h1>{{schedule.total_per_week}}</h1>
                <h6 class="text-muted">Scheduled per week</h6>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-block">
                <h1>{{"{:0.0f}".format(schedule.avg_per_day * challenge.days_left)}}</h1>
                <h6 class="text-muted">Scheduled total</h6>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-block">
                <h1>{{"{:+0.0f}".format(schedule.avg_per_day * challenge.days_left - challenge.how_many_movies)}}</h1>
                <h6 class="text-muted">Challenge goal</h6>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-block">
                <h1>~{{"{:0.1f}".format(schedule.avg_per_day)}}</h1>
                <h6 class="text-muted">Scheduled per day</h6>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row card-stats">

        <div class="col-sm-4">
            <div class="card card-block">
                <h1>{{request.user.favorite_director[0]}}</h1>
                <h6 class="text-muted">Favorite Director ({{request.user.favorite_director[1]}})</h6>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-block">
                <h1>{{request.user.favorite_genre[0]}}</h1>
                <h6 class="text-muted">Favorite Genre ({{request.user.favorite_genre[1]}})</h6>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-block">
                <h1>{{request.user.favorite_year[0]}}</h1>
                <h6 class="text-muted">Favorite Year ({{request.user.favorite_year[1]}})</h6>
            </div>
        </div>

    </div>

</div>

{%endblock%}