<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="stylesheet" href="{{ static('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/tether.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/pikaday.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/cal-heatmap.min.css') }}">

        <link rel="stylesheet" href="{{ static('css/screen.css') }}">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <div class="container">
            <nav class="navbar navbar-fixed-top navbar-light bg-faded">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
                    &#9776;
                </button>
                <a class="navbar-brand" href="{{ reverse('home') }}">We Love Movies</a>
                <div class="collapse navbar-toggleable-xs" id="navbar-header">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_authenticated() %}
                        <li class="nav-item {%if active_tab == 'movies'%}active{%endif%}">
                            <a class="nav-link" href="{{ reverse('my_movies') }}">Movies</a>
                        </li>
                        <li class="nav-item {%if active_tab == 'schedule'%}active{%endif%}">
                            <a class="nav-link" href="{{ reverse('my_schedule') }}">Schedule</a>
                        </li>
                        {% endif %}
                    </ul>

                    {% if request.user.is_authenticated() %}
                    <div class="btn-group pull-xs-right">
                        <button type="button" data-toggle="dropdown" class="dropdown-toggle avatar-dropdown">
                            <img class="img-circle" src="{{request.user.avatar_url}}" width="32">
                            <span>{{request.user}}</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ reverse('public_profile', kwargs={'username': request.user.username}) }}"><i class="fa fa-user fa-fw"></i> Profile</a>
                            <a class="dropdown-item" href="{{ reverse('public_profile_movies', kwargs={'username': request.user.username}) }}"><i class="fa fa-film fa-fw"></i> Movie List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ reverse('account_profile') }}"><i class="fa fa-cog fa-fw"></i> Settings</a>
                            <a class="dropdown-item" href="{{ reverse('account_logout') }}"><i class="fa fa-power-off fa-fw"></i> Logout</a>
                        </div>
                    </div>
                    <form class="form-inline pull-xs-right" id="navbar-search" action="{{ reverse('search_results') }}" method="get">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" placeholder="Search" name="q" value="{%if search_query%}{{search_query}}{%endif%}">
                            <span class="input-group-addon"><button type="submit"> <i class="fa fa-search fa-fw"></i> </button> </span>
                        </div>
                    </form>
                    {% else %}

                    <ul class="nav navbar-nav pull-xs-right">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ reverse('account_signup') }}">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ reverse('account_login') }}">Login</a>
                        </li>
                    </ul>
                    {% endif %}

                </div>
            </nav>
        </div>
        {% endblock %}


        <div class="container-fluid" id="body-content">
        {% block content %}
        {% endblock %}
        </div>

        <div class="message">
            {%for msg in get_messages(request)%}
                <div class="alert alert-info" role="alert">{{msg.message|safe}}</div>
            {%endfor%}
        </div>

        {% block scripts %}
        <script src="{{ static('js/jquery.min.js') }}"></script>
        <script src="{{ static('js/tether.min.js') }}"></script>
        <script src="{{ static('js/bootstrap.min.js') }}"></script>
        <script src="{{ static('js/moment.min.js') }}"></script>
        <script src="{{ static('js/pikaday.min.js') }}"></script>
        <script src="{{ static('js/list.min.js') }}"></script>
        <script src="{{ static('js/script.js') }}"></script>
        {% endblock %}

        {% block extrascripts%}
        {%endblock%}
    </body>
</html>