

@-webkit-keyframes message {
  0% {
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
  }
  5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
  }
}

@keyframes message {
  0% {
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
  }
  5% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
  }
}

.message {
  -webkit-animation: message 5s ease-in-out forwards;
          animation: message 5s ease-in-out forwards;
  bottom: 48px;
  left: 48px;
  padding: 16px;
  position: fixed;
  z-index: 3;
}