
.card-stats {
    .card {
        text-align: center;
        h1 {
            font-size: 2rem;
        }
        h6 {
            text-transform: uppercase;
            font-size: 0.75rem;
        }
    }

}



.row.viewing {
    margin-bottom: 1rem;

    .cover img {
        height: 5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;

    }


    .description {
        padding-left: 4rem;
    }
    @media(min-width: 34em) {
        .description {
            padding-left: 2rem;
        }
    }
    @media(min-width: 48em) {
        .description {
            padding-left: 1rem;
        }
    }

}

.cover {
    text-align: center;
    .card {
        min-width: 125px;
        min-height: 140px;
    }

}


.imdb-link {
        font-size: 0.75rem;
}



.movie-detail-container {
    img.full-cover {
        width: 197px;
        height: 292px;
    }
}

.scheduling.container {
    margin-top: 1rem;
}


