
.card-stats {
    .card {
        text-align: center;
        h6 {
            text-transform: uppercase;
            font-size: 0.75rem;
        }
    }

}



.row.viewing {
    margin-bottom: 2em;



}

.cover {
    text-align: center;
    .card {
        min-width: 125px;
        min-height: 140px;
    }

}


.imdb-link {
        font-size: 0.75rem;
}



.movie-detail-container {
    img.full-cover {
        width: 197px;
        height: 292px;
    }
}
