#navbar-user-dropdown {
    margin-left: 1em;
}

#navbar-search {
    margin-left: 1em;
}


#navbar-search span.input-group-addon button {
    border: none;
    padding: 0 0 0 0;
    background-color: rgba(0,0,0,0);
}
