#navbar-user-dropdown {
    margin-left: 1em;
}

#navbar-search {
    margin-left: 1em;
}


#navbar-search span.input-group-addon button {
    border: none;
    padding: 0 0 0 0;
    background-color: rgba(0,0,0,0);
}

#body-content {
    padding-top: 5em;
}



.search-results-container {
    h2 {
        margin-bottom: 1em;
        span {
            color: #0275d8;
        }
    }
}

.search-result {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(86,61,124,.2);
}
