.search-results-container {
    h2 {
        margin-bottom: 1em;
        span {
            font-weight: bold;
        }
    }
}

.search-result {
    margin-bottom: 1rem;
    img {
        height: 4rem;
        margin-right: 0.5rem;
        min-width: 43px;
        min-height: 64px;
    }

    h4 {
        padding-top: 0.6rem;
    }
}


.watch-actions.btn-group {
    button, a {
        border-radius: 0;
    }
}

