.search-results-container {
    h2 {
        margin-bottom: 1em;
        span {
            color: #0275d8;
        }
    }
}

.search-result {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(86,61,124,.2);
}


.watch-actions.btn-group {
    button, a {
        border-radius: 0;
    }
}

