{% extends "base.html" %}


{% block content %}

<div class="container">

    {%if token_fail %}
        <h1>Invalid Token</h1>
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ reverse('account_reset_password') }}">new password reset</a>.</p>
    {% else %}

    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <h2>Change Password</h2>
            {% if form %}
            <form method="POST" action="">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
              <fieldset class="form-group {% if form.errors.password1 %}has-danger{%endif%}">
                {% if form['password1'].errors %}<label class="form-control-label has-danger" for="id_password2">{{form.password1.errors[0]}}</label>{%endif%}
                <input type="password" class="form-control" id="id_password1" name="password1" placeholder="New password" value="{%if form['password1'].value() %}{{form['password1'].value()}}{%endif%}">
              </fieldset>
              <fieldset class="form-group {% if form.errors.password2 %}has-danger{%endif%}">
                {% if form['password2'].errors %}<label class="form-control-label has-danger" for="id_password2">{{form.password2.errors[0]}}</label>{%endif%}
                <input type="password" class="form-control" id="id_password2" name="password2" placeholder="New password (again)" value="{%if form['password2'].value() %}{{form['password2'].value()}}{%endif%}">
              </fieldset>
              <button type="submit" class="btn btn-primary">Change Password</button>
           </form>
           {% else %}
            <p>Password has been changed.</p>
           {% endif %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}